
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Seymour+One&display=swap');

body {
    font-family: 'Prompt', sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #0b5a4f;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}


.search-container {
    display: flex;
    align-items: center;
    
}

.search-input {
    padding: 8px;
    margin-right: 5px; /* Spacing between input and button */
    border: none;
    border-radius: 5px;
}

.search-button {
    padding: 8px 15px;
    background: #0b5a4f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #8DCE92;
}

header > h1 {
    font-family: 'Archivo Black', sans-serif;
    
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
nav ul li {
    display: inline;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}
nav ul li a:hover, .categories ul li a:hover {
    background-color: #8DCE92;
}
.categories {
    background-color: #8DCE92 ;
    padding: 5px 0;
}
.categories ul {
    text-align: center;
    padding: 0;
    margin: 0;
}
.categories ul li {
    display: inline;
}
.categories ul li a {
    color: darkslategray;
    font-weight: bold;
    padding: 8px 12px;
    display: inline-block;
    text-decoration: none;
}
main {
    padding: 20px;
    background-color: #ffffff;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-item {
    flex: 1;
    padding: 10px;
    margin: 5px;
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.flex-item img {
    max-width: 90%; /* Makes the image fill the container */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover;/* Optional: rounds the corners of the images */
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #0b5a4f;
    color: white;
    bottom: 0;
    width: 100%;
}

.authentication-buttons img {
    width: 3em%;
}